/* Needed style for the scroll indicator */

.border-active>svg .circle-bg-stroke {
    transform: scale(1);
}

.border-active>svg .circle {
    opacity: 1;
}

.arrow-active>svg .arrow-up {
    opacity: 1;
    transform: translateY(0);
}

.arrow-active>svg .progress-content {
    opacity: 0;
    transform: translateY(-0.2em);
}

.scroll-indicator {
    cursor: pointer;
    overflow: hidden;
    width: 90px;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.arrow-up {
    opacity: 0;
    transform: translateY(0.2em);
    transition: all 0.2s linear;
}

.progress-content {
    transition: all 0.2s linear;
}

.circle-bg {
    fill: #fff;
    stroke: none;
    stroke-width: 1.5;
    z-index: 100;
}

.circle-bg-stroke {
    transform: scale(0.8);
    fill: none;
    stroke: #ddd;
    stroke-width: 2;
    transition: all 0.3s linear;
    transform-origin: center center;
    z-index: 10;
}

.circle {
    opacity: 0;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
}

.circular-chart .circle {
    stroke: #03ACEC;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.7em;
    text-anchor: middle;
}

.units {
    fill: rgb(172, 170, 170);
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
}